@font-face {
  font-family: Fontin SmallCaps;
  font-weight: 400;
  src: url(/font/Fontin-SmallCaps.ttf) format("ttf");
}

body {
  background-color: #121212;
  font-family: Fontin SmallCaps!important
}

.token:before {
  background-image: url('/ui/subtle-grunge.png');
}

.token:focus {
  outline-color: #131111;
}

.token {
  width: 100px;
  height: 100px;
  border-top-width: 2px;
  border-color: #131111;
  background-color: #211b14;
}

.token:hover,
.token-hover {
  background-color: #392810;
}

.cursor-pointer {
  cursor: pointer;
}

.border-row {
  display: flex;
}

.title {
  width: 300px;
  border: solid 1px #3d3f48;
  text-align: center;
  align-items: center;
  height: 2rem;
  padding: .5rem;
  color: #b8905f;
  font-size: 1.25rem;
  background: url('/ui/section-title-left.png') no-repeat 0 0,url('/ui/section-title-right.png') no-repeat 100% 0 #000;
}

.win-title {
  width: 300px;
  border: solid 1px #3d3f48;
  text-align: center;
  align-items: center;
  padding: .5rem;
  color: #b8905f;
  font-size: 1.25rem;
  background: url('/ui/section-title-left.png') repeat-y 0 0,url('/ui/section-title-right.png') repeat-y 100% 0 #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.win-title img {
  padding: .5rem;
}

.play-again {
  text-align: center;
  align-items: center;
  color: #b8905f;
  font-size: 1.75rem;
  background: url('/ui/button-green-normal-middle.png') repeat-x;
  margin: 1rem 3rem;
}

.play-again div {
  width: 100%;
  background: url('/ui/button-green-normal-left.png') no-repeat 0 0, url('/ui/button-green-normal-right.png') no-repeat 100% 0;
  padding: 0.75rem 0;
}

.play-again:hover {
  background: url('/ui/button-green-hover-middle.png') repeat-x;
}

.play-again div:hover {
  background: url('/ui/button-green-hover-left.png') no-repeat 0 0, url('/ui/button-green-hover-right.png') no-repeat 100% 0;
}


.visibility-hidden {
  visibility: hidden;
}

footer {
  position: absolute;
  background: url('/ui/section-title-left.png') repeat-y 0 0, url('/ui/section-title-right.png') repeat-y 100% 0 #000;
  border-color: #3d3f48;
  border-width: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  bottom: 0;
  width: 100%;
}

footer .container {
  flex-direction: row;
  font-size: .75rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: .25rem 1rem;
}

footer .container a {
  margin: 0.5rem;
  display: inline-block;
}

footer .logo-react {
  width: 32px;
  height: 32px;
}

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img.hover-image {
  opacity: 0.5;
}